/* styles.css */

/* General */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header .logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.video-container {
  position: relative;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button svg {
  padding: 5px;
  background-color: #ff9300;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header .cta {
  background: #ff9300;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

/* Hero Section */
.hero {
  background: #ff9300;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.hero .hero-content {
  max-width: 800px;
  margin: auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero .small-image {
  width: 150px;
  margin: 1rem auto;
  display: block;
}

.hero .centered-image {
  width: 200px;
  margin: 1rem auto;
  display: block;
}

.hero .cta {
  background: #fff;
  color: #ff9300;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

/* About Section */
.about {
  padding: 2rem 1rem;
  text-align: center;
}

.about img {
  width: 200px;
  border-radius: 50%;
  margin-top: 1rem;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.social-links a:hover {
  background-color: #ddd;
}

/* Benefits Section */
.benefits {
  background: #f4f4f4;
  padding: 2rem 0;
  text-align: center;
}

.benefits ul {
  list-style: none;
  padding: 0;
}

.benefits li {
  display: inline-block;
  width: 30%;
  margin: 1%;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Product Details Section */
.product-details {
  padding: 2rem 1rem;
  text-align: center;
}

.product-details img {
  width: 300px;
  margin-top: 1rem;
}

/* Testimonials Section */
.testimonials {
  background: #f4f4f4;
  padding: 2rem 0;
  text-align: center;
}

.testimonial {
  width: 45%;
  display: inline-block;
  margin: 2%;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
  width: 100%;
  border-radius: 10%;
  margin-top: 1rem;
}

/* Results Section */
.results {
  padding: 2rem 0;
  text-align: center;
}

.before-after img {
  width: 45%;
  display: inline-block;
  margin: 2%;
}

/* FAQ Section */
.faq {
  text-align: center;
  background: #f4f4f4;
  padding: 2rem 0;
}

.faq-item {
  width: 45%;
  display: inline-block;
  margin: 2%;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
  margin-top: 0;
}

.faq-item p a {
  color: #333;
}

/* Special Offer Section */
.special-offer {
  padding: 2rem 0;
  text-align: center;
}

.special-offer .cta {
  background: #ff9300;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer nav ul {
  padding: 0;
  list-style: none;
}

footer nav ul li {
  display: inline;
  margin-right: 10px;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
}
